/* font-family: 'Gowun Dodum', sans-serif; general
font-family: 'Gloock', serif; titulo
fondo = 456C83
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}


/* barra de navegacion */
nav{
    background-color: #456C83;
    width: 100%;
    display: inline-block;
}
.logo{
    height: 3rem;
    width: 9rem;
}
.ul-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
ul li{
    display: inline-block;
    gap: 20px;
}
.encabezado{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Gowun Dodum', sans-serif;
}
.redes{
    display: inline;
    height: 3rem;
    width: 2.5rem;
}
/* para responsive */
.redes-dropdown{
    display: inline;
    color: #456C83;
}
.desaparecer{
    background-color: #456C83;
    display: block;
}
/* fondo */
main{
    background-color: #456C83;
}


/* index */
.main-index{
    background-color: #456C83;
    background-image: url(../assets/img/fondoo.jpg);
    padding: 0% 5% 5% 5%;
    width: 100%;
    height: 700px;
    background-position: center;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.titulo-flex{
    width: 100%;
    height: 50rem;
    line-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo{
color: #7DB9B6;
font-family: 'Gloock', serif;
font-size: 5rem;
}
.subtitulo{
    color: antiquewhite;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 2rem;
}
.cuadrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #456C83;
}
.flecha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* catalogo */
.main-catalogo{
    background-color: #456C83;
}
.shop-now{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
 .text-shop-now{
    text-decoration: none;
    color: #456C83;
    font-size: 3rem;
}
.boton-edit{
    width: 25rem;
    height: 10rem;
    color: #F4D7D3;
    border-color: #7DB9B6;
    box-shadow: #7DB9B6;
    border-radius: 2rem;
    border-width: 0.3rem;
}


/* pie */
footer{
    width: 100%;
    height: 8rem;
    background-color: #3B5D71;
}
.grid-pie{
    background-color: #3B5D71;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(2,1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}
.itemayuda{
    grid-area: 1 / 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.itemenvios{
    grid-area: 2 / 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.itemdefensa{
    grid-area: 3 / 1;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.itemlogo{
    grid-area: 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.info-pie{
    color: antiquewhite;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1rem;
    font-style: none;
    font-weight: 400;
}
.carrusel-mobil{
    display: none;
}
.carrusel-desktop{
    display: block;
}
.margin-card{
    margin-left: 2rem;
    margin-right: 2rem;
}


/* nosotros */
.main-nosotros{
    background-color: #456C83;
    background-image: url(../assets/img/amigas.jpg);
    padding: 0% 5% 5% 5%;
    width: 100%;
    height: 750px;
    background-position: center;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.nosotros-flex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.titulo-quien{
    width: 100%;
    height: 10rem;
    color: white;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 4rem;
    background-color: #e2e0e0 ;
    margin-top: 25px;
}
div h1{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


/* beneficio*/
.main-beneficio{
    box-sizing: content-box;
    text-align: center;
    background-color:#456C83;
    width: 100%;
    height: 800px;
    background-position: center;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.lee{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 2rem;
    color: #456C83;
    text-align: end;
    text-decoration: none;
}
.cuadrado-fast{
    margin-top: 3rem;
    width: 50rem;
    background-color:#F4D7D3 ; 
}
.img-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}


/* fast fashion */
.fast-titulo{
    color: antiquewhite;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 5rem;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parrafo-fast{
    margin-top: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #e2e0e0;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1.2rem;
    position: center;
    text-indent: 20px;
}
.flex-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} 
.flex-fast{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-articulo{
    font-family: 'Gowun Dodum', sans-serif;
    color: #456C83;
    text-decoration: line;
    color: #456C83;
    font-size: 1.5rem;
    position: center;
}
.article{
    margin-top: 2rem;
    background-color:#D9D9D9 ;
    background-position: center;
    width: 800px;
    height: 100px;
}


/* proximamente */
.flex-pp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.prox-flex{
    width: auto;
    height: 41rem;
}
.prox{
    width: 100%;
    height: 30rem;
    font-family:  'Gowun Dodum', sans-serif;
    font-size: 6rem;
    color: antiquewhite;
}


/* responsive */
@media (max-width: 2560px){
    .desaparecer{
        display: none;
    }
    .redes-dropdown{
        display: none;
    }
}
@media (max-width: 1024px){
    .desaparecer{
        display: none;
    }
}

@media (max-width:768px){
    .desaparecer{
        display: none;
    }
    .redes-dropdown{
        display: none;
    }
    .main-index{
        background-image: url(../assets/img/fondotablet.jpg);
        width: 100%;
        height: 40rem;
    }
    /* catalogo */
    .text-shop-now{
        font-size: 2rem;
    }
    .boton-edit{
        width: 19rem;
        height: 8rem;
    }
}

@media (max-width:425px){
    nav{
        display: none;
    }
    .desaparecer{
        display: block;
    }
    .main-index{
        background-image: url(../assets/img/fondomedio.jpg);
        width: 100%;
        height: 50rem;
    }
    .titulo{
        font-size: 4.5rem;
    }
    .subtitulo{
        font-size: 2rem;
    }
    .text-shop-now{
        font-size: 0.5;
    }
    .carrusel-media{
        display: none;
    }
}

@media (max-width:320px){
    .main-index{
        background-image: url(../assets/img/fondomobile.jpg);
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 50rem;
    }
    .titulo{
        font-size: 4rem;
    }
    .subtitulo{
        font-size: 1.5rem;
    }
   /* catalogo */
   .carrusel-mobil{
        display: block;
    }
    .carrusel-desktop{
        display: none;
    }
    .text-shop-now{
        font-size: 1rem;
    }
    .boton-edit{
        width: 9rem;
        height: 4rem;
        border-radius: 1rem;
    }
}