@media (max-width: 2560px){
    .desaparecer{
        display: none;
    }
    .redes-dropdown{
        display: none;
    }
}
@media (max-width: 1024px){
    .desaparecer{
        display: none;
    }
}